/*! HTML5 Boilerplate v4.3.0 | MIT License */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom
   ========================================================================== */
body {
    height: 100%;
    width: 100%;
}

/* PIxEL brand coloring */

.red {
    background-color: #FF7E79;
    color: rgba(255,126,121, 0.75);
}

.lightblue {
    background-color: #00F3FF;
    color: rgba(0, 243, 255, 0.9);
}

.blue {
    background-color: #75CBFE;
    color: rgba(117, 203, 254, 0.8);
}

.pink {
    background-color: #FE89D7;
    color: rgba(254, 137, 215, 0.75);
}

.yellow {
    background-color: #ECFF45;
    color: rgba(236, 255, 69, 0.9);
}

#intro-row-container {
    height: 900px;
}

.intro-row {
    height: 20%; 
    margin-top: 10px;
    opacity: 0.000000000001;
}

.intro-row h1 {
    display: block;
    margin: 0;
    position: relative;
    top: 30%;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 42pt;
    font-weight: 600;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
}

.expand-row h1 {
    font-size: 96pt;
    font-weight: 600;
    text-align: left;
    text-shadow: 1px 4px 6px #f0f0f0, 0 0 0 #000, 1px 4px 6px #f0f0f0;
}

.main {
    position: absolute;
    z-index: 2;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 80%;
}

#header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-weight: 600;
    height: 100%;
}

#header h1 {
    font-size: 18pt;
    font-family: "Consolas", "Lucida Console", "Courier New", monospace;
    font-weight: 900;
    color: white;
}

#header h2 {
    
}

#header img {
    /**
    box-shadow: 10px 10px 5px #fff;
    -webkit-box-shadow: 10px 10px 5px #fff;
    -moz-box-shadow: 3px 3px 1px #fff;
    **/
    width: 35%;
}

.bg {
    z-index: 1;
    top: 0; left: 0;
    right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);*/
}

.expand-row {
    height: 0px;
    width: 100%;
    background-color: #F0F0F0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
xxx
.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
